/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define CUSTOM  3

&mt {
        tapping-term-ms = <120>;
};

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                custom_layer {
                        if-layers = <LOWER RAISE>;
                        then-layer = <CUSTOM>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        /*
 /* QWERTY
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * | Tab  |   Q  |   W  |   E  |   R  |   T  |                    |   Y  |   U  |   I  |   O  |   P  |BackSP|
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LShift|   A  |   S  |   D  |   F  |   G  |                    |   H  |   J  |   K  |   L  |   ;  |   ´  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LCTRL |   Z  |   X  |   C  |   V  |   B  |--------.   .-------|   N  |   M  |   ,  |   .  |   /  |  +=  |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                          | LGUI |LOWER | /Space  /       \Enter \  |RAISE | LAlt |
 *                          |      |      |/       /         \      \ |      |      |
 *                          `---------------------'           '------''-------------'
 */
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G      &kp H &kp J  &kp K     &kp L   &kp SEMI &mt RSHIFT SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B      &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp EQUAL
                &kp LGUI &mo LOWER &kp SPACE   &kp RET &mo RAISE &kp LALT
                        >;
                };
                lower_layer {
/* LOWER
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * | ESC  |  \   |   @  |      |  [{  |  }]  |                    |  7&  |  8*  |  9(  |   *  |   /  |BackSP|
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LShift|  `   |   {  |  }   |   -  |   _  |                    |  4$  |  5%  |  6^  |   +  |   -  |  =   |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LCTRL |  (   |   )  | LALT |  TAB |   ~  |--------.    .------|   1! |  2@  |  3#  |  0=  |   .  | RALT |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                          | LGUI |LOWER | /Space  /       \Enter \  |RAISE | LAlt |
 *                          |      |      |/       /         \      \ |      |      |
 *                          `---------------------'           '------''-------------'
 */
                        bindings = <
   &kp ESC    &kp BSLH   &kp AT   &none     &kp LBKT     &kp RBKT                   &kp N7   &kp N8   &kp N9  &kp ASTRK &kp FSLH   &kp BSPC
   &kp LSHFT  &kp GRAVE  &kp LBRC &kp RBRC  &kp KP_MINUS &kp UNDER                  &kp N4   &kp N5   &kp N6  &kp PLUS  &kp MINUS  &kp KP_EQUAL
   &kp LCTRL  &kp LPAR   &kp RPAR &kp LATL  &kp TAB      &kp TILDE                  &kp N1   &kp N2   &kp N3  &kp N0    &kp KP_DOT &kp RALT
                                         &kp LGUI &mo LOWER &kp SPACE      &kp RET &mo RAISE &kp LALT
                        >;
                };

                raise_layer {
/* RAISE
 * ,-------------------------------------------.                    ,-----------------------------------------.
 * | Esc  |CAPSLOCK|      |      |      |      |                    |      |      |  UP  |      |PG_UP | DEL  |
 * |------+--------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LShift|   F1   |  F2  |  F3  | F4   | F5   |                    | HOME | LEFT | DOWN |RIGHT | END  |      |
 * |------+--------+------+------+------+------|                    |------+------+------+------+------+------|
 * |LCTRL |  PSCRN |      |  F6  |  F7  |  F8  |--------.   .-------|  F9  | F10  | F11  | F12  |PG_DN | RALT |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *                          | LGUI |LOWER | /Space  /       \Enter \  |RAISE | LAlt |
 *                          |      |      |/       /         \      \ |      |      |
 *                          `---------------------'           '------''-------------'
 */
                        bindings = <
   &kp ESC   &kp CAPSLOCK &none     &none    &none    &none                 &none     &none     &kp UP    &none     &kp PG_UP &kp DEL
   &kp LSHFT &kp F1       &kp F2    &kp F3   &kp F4   &kp F5                &kp HOME  &kp LEFT  &kp DOWN  &kp RIGHT &kp END   &none 
   &kp LCTRL &kp PSCRN    &none     &kp F6   &kp F7   &kp F8                &kp F9    &kp F10   &kp F11   &kp F12   &kp PG_DN &kp RALT
                                   &kp LGUI &mo LOWER &kp SPACE         &kp RET &mo RAISE &kp LALT
                        >;
                };

                custom_layer {
/* CUSTOM
 * ,----------------------------------------------.                    ,------------------------------------------.
 * |      |       |       |       |       |RGB_TOG|                    | PREV |PL/STP| NEXT | MUTE | VOL -| VOL + |
 * |------+-------+-------+-------+-------+-------|                    |------+------+------+------+------+-------|
 * |      |RGB_HUI|RGB_SAI|RGB_BRI|RGB_SPI|RGB_EFF|                    |  BT1 |  BT2 |  BT3 |  BT4 | BT5  |BT-CLR |
 * |------+-------+-------+-------+-------+-------|                    |------+------+------+------+------+-------|
 * |      |RGB_HUD|RGB_SAD|RGB_BRD|RGB_SPD|RGB_EFR|--------.   .-------|      |      |      |      |EP_TOG|OUT_TOG|
 * `----------------------------------------------/       /     \      \------------------------------------------'
 *                               |      |      | /       /       \      \  |      |      |
 *                               |      |      |/       /         \      \ |      |      |
 *                               `---------------------'           '------''-------------'
 */
                        bindings = <
   &none   &none            &none              &none           &none           &rgb_ug RGB_TOG                   &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_MUTE    &kp C_VOL_DN      &kp C_VOL_UP
   &none   &rgb_ug RGB_HUI  &rgb_ug RGB_SAI    &rgb_ug RGB_BRI &rgb_ug RGB_SPI &rgb_ug RGB_EFF                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_CLR
   &none   &rgb_ug RGB_HUD  &rgb_ug RGB_SAD    &rgb_ug RGB_BRD &rgb_ug RGB_SPD &rgb_ug RGB_EFR                   &none         &none         &none         &none         &ext_power EP_TOG &out OUT_TOG
                                                                            &trans   &trans   &trans          &trans    &trans     &trans 
                        >;
                };
        };

};